<body>
  <!-- Começo do Cabeçalho-->
<header>
<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- Fim do Logo -->
      <a class="navbar-brand" href="#">
        <img src="images/logo.png" />
      </a>
      <!-- Começo do Logo -->
      
      <!-- Começo menu responsivo -->
      <div class="navbar-toggle">
      </div>
      <!-- Fim do menu responsivo -->
    </div>
    
    <div id="responsive-menu"></div>
            
            <div> </div>

    <!-- Começo do menu -->
    <div class="navbar-collapse collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right main-navigation" id="main-menu">
        <li class="active"><a href="principal.html">Principal</a></li>
        <li><a href="#project">Ajuda</a></li>
      </ul>
    </div>
    <!-- Fim do menu -->
  </div>
</nav>
</header>
<!-- Fim do Cabeçalho-->

<!-- Sobre-->
<section class="banner" id="home">

  <div class="about-description" style="text-align: center;">
    <h2>Saldo disponível: R$</h2>
    <a href="conhecimento.html" class="btn-contact" >Realizar Investimento</a>
    <a style="margin-left: 10px" href="component/credito.component.html" class="btn-credit" >Solicitar Crédito</a>
    
  </div>
    <!-- Fim descrição -->
</section>
<!-- Fim sobre -->

  <!-- Começo do Rodapé -->
<footer>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Logo rodapé -->
      <div class="footer-about">
        <img src="images/logo.png" />
        
        
      </div>
      <!-- Fim do logo rodapé -->
    </div>
    
    <div class="col-md-4">
      <!-- Texto rodapé -->
      <div class="footer-link">
        <p></p>

      </div>
      <!-- fim do texto rodapé -->
    </div>
    
    <div class="col-md-4">
      <div class="footer-link">
        <!-- Texto redes sociais -->
        
        <div class="newsletter">
          <h1>Redes Sociais:</h1>
          
        </div>
        <!-- fim do texto redes sociais -->
        
        <!-- links redes sociais -->
        <div class="footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <!-- fim link redes sociais -->
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="siteinfo">
        <p> &copy; 2020, Safra MEI. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>
</footer>
<!-- Fim do rodapé -->

<!-- Jquery Library File -->
<script src="js/jquery-1.12.4.min.js"></script>
<!-- Bootstrap js file -->
<script src="js/bootstrap.min.js"></script>
<!-- Counterup js file -->
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<!-- Slick Nav js file -->
<script src="js/jquery.slicknav.js"></script>
<!-- Magnific Popup js file -->
<script src="js/jquery.magnific-popup.js"></script>
<!-- Owl Carousel js file -->
<script src="js/owl.carousel.js"></script>
<!-- SmoothScroll -->
<script src="js/SmoothScroll.js"></script>
<!-- Main Custom js file -->
<script src="js/function.js"></script>
</body>